@charset "UTF-8";

.boxClass {
	width: 80%;
	margin : 0 auto;
	height: 228px;
}

.boxClass .d_title{
	font-size: 1.2rem;
	color:#181818;
	line-height: 34px;
	position: relative;
	padding-left: 45px;
}

.boxClass .d_title::before {
	content: "";
	display: block;
	width: 32px;
	height: 34px;
	position:absolute;
	top: 0;
	left: 0;
	background: url(../img/ico_filter.png) no-repeat 0px 0px;
	background-size: cover;
}


input[type="date"] {width:200px;}
input[type="text"] {width:100px;}
input[type="number"] {width:100px;}
#searchBox{width:300px; position:relative;}
.searchClass ul{display:inline-block; padding-top:10px; }

#iconPic {
	position: absolute;
	right: 2px;
	top: 8px;
}

#iconPic1 {
	position: relative;
	right: 54px;
	top: 14px;
	box-shadow: none;
	border: none;
	border-radius: inherit;
	margin: 0;
	padding: 0;
	line-height: inherit;
	height: inherit;
	width: 40px;
	height: 40px;
}

#iconPic1::before {
	content: "";
	display: block;
	position: absolute;
	width: 22px;
	height: 23px;
	top:6px;
	right: 9px;
	background: url(<%=request.getContextPath()%>/img/comm/ico_search_black.png) no-repeat;
	background-size: cover;
}
.checks_mate{
 	height: 50px;
    display: inline-block;
    line-height: 50px;
    position: relative;
    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;}
button{position: relative;}

.mateSearch_wrap button.search::before{
	content:"";
	display: block;
	margin-left: -2px;
	width: 25px;
	height: 25px;
	background: url(../img/main/ico_search_white.png) no-repeat;
	background-size: cover;
}



/* .mateSearch_wrap button.search::before{
 content:"";
   display: block;
   margin-left: -2px;
   width: 25px;
   height: 25px;
   background: url(../img/main/ico_search_white.png) no-repeat;
   background-size: cover;
} */
.mateSearch_wrap button.mate{
	margin-top: 30px;
	margin-left:35px;
}
.searchClass .list_filter{
	margin-right: 30px !important;
}




input[type="date"] {width: 200px;}
input[type="text"] {width: 100px;}
input[type="number"] {width: 100px;}

#searchBox {width: 300px; position: relative;}
.searchClass ul {display: inline-block;	padding-top: 10px;}

#iconPic {
	position: absolute;
	right: 2px;
	top: 8px;
}

#iconPic1 {
	position: relative;
	right: 54px;
	top: 14px;
	box-shadow: none;
	border: none;
	border-radius: inherit;
	margin: 0;
	padding: 0;
	line-height: inherit;
	height: inherit;
	width: 40px;
	height: 40px;
}

#iconPic1::before {
	content: "";
	display: block;
	position: absolute;
	width: 22px;
	height: 23px;
	top:6px;
	right: 9px;
	background: url(<%=request.getContextPath()%>/img/comm/ico_search_black.png) no-repeat;
	background-size: cover;
}
.checks_mate{
 	height: 50px;
    display: inline-block;
    line-height: 50px;
    position: relative;
    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;}

button {position: relative;}

.houseSearch_wrap button.search::before {
   content:"";
   display: block;
   margin-left: -2px;
   width: 25px;
   height: 25px;
   background: url(../img/main/ico_search_white.png) no-repeat;
   background-size: cover;
}

.houseSearch_wrap button.room{margin-top: 30px;}

.searchClass .list_filter{
	margin-right: 30px !important;
}