@charset "UTF-8";

.s_title {
	display:inline-block;
	margin: 40px 0;
	font-size: 1.5rem;
	z-index: 0;
	padding: 0 6px;
	position: relative;
	font-weight: 600;
	color: #111215;
}

.s_title::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	z-index: -1;
	left: 1px;
	width: 100%;
	height: 9px;
	background-color: #d2d2d2;
}

/* 마이페이지 - 결제내역 페이지payDetailList  */
#payYearSelect{width: 150px; height: 30px; margin: 40px 0px 10px 0px;}

/* 마이페이지 - 찜목록 likeMarkerList */


/* 마이페이지 - 보낸 초대 sendInviteList */
.inviteRequsetContent{width: 900px; margin: 40px auto; overflow:auto; }
.inviteRequsetList{overflow: auto;}
.inviteRequsetList>div{width: 440px; height: 250px; float: left; margin-bottom: 40px;}
.inviteRequsetPic{display:block; float:left; border-radius: 50%; width: 150px;}
.inviteRequsetInfo{float:none; overflow: auto; }
.inviteRequsetInfo>ul{margin-left: 30px; line-height: 30px; height: 155px;}
.inviteRequsetInfo>ul>li:first-of-type{margin: 0;}


.inviteRequsetInfo>ul>li:first-of-type {float: none; }
.inviteRequsetInfo>ul>li>ul{height: 40px; line-height: 40px; margin-top: 20px;}
.inviteRequsetInfo>ul>li>ul>li{display: inline-block; border-radius: 40px;}
.inviteRequsetInfo>ul>li>ul>li>p{width: 40px; border-radius: 20px; margin-left: 40px; text-align: center; line-height: 40px; height: 40px;}
.inviteRequsetInfo>ul>li>ul>li:first-of-type{background: url(../img/comm/ico_room.png) no-repeat 0px 0px; background-color: #f0edf8; }
.inviteRequsetInfo>ul>li>ul>li:first-of-type>p{color:#4f399d;}
.inviteRequsetInfo>ul>li>ul>li:nth-of-type(2) {background: url(../img/comm/ico_room.png); background-repeat:repeat-y; background-position-y: 80px; background-color: #e8f2fb;  }
.inviteRequsetInfo>ul>li>ul>li:nth-of-type(2)>p{color:#355c79;}
.inviteRequsetInfo>ul>li>ul>li:nth-of-type(3) {background: url(../img/comm/ico_room.png); background-repeat:repeat-y; background-position-y: 40px; background-color: #ffd7d1;  }
.inviteRequsetInfo>ul>li>ul>li:nth-of-type(3)>p{color:#d05567;}
.sendInviteBtn{float: right; margin-top: 20px; }
.sendInviteBtn>a {width: 200px; }

/* 마이페이지 - 받은 신청 takeRequestList*/

.takeRequestBtn>a{float: right;  }
.takeRequestBtn {float: right; margin-right:30px; width: 250px; height: 60px; overflow: auto;}
#takeRequestMore, #sendInviteMore{display:block; width: 800px; margin: 10px auto; height: 30px; line-height: 30px; color:#5E5E5E;}
#takeRequestMore>span, #sendInviteMore>span{font-size: 0.8em;}
/* .takeRequestBtn>a {width: 100px;} */

