@charset "UTF-8";



ul,li{list-style-type: none; margin: 0; padding: 0;}
#premiumInfoImg {border: 1px solid #ddd;}
#premiumInfoImg ul{overflow: auto;}
#premiumInfoImg li{float: left;}
#premiumInfoImg img{width: 230px;}
pre{width: 100%; overflow: auto; white-space: pre-line;}