<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.seoulmate.home.dao.AdminDAO">
 	<select id="memberSelect" resultType="com.seoulmate.home.vo.MemberVO">
  		select no, userid, username, tel, email, grade, reportcnt, state from member order by no desc

  	</select>
  	<select id="memberInfo" resultType="com.seoulmate.home.vo.MemberVO">
  		select profilepic, userid, userpwd, username, to_char(birth, 'YYYY-MM-DD') birth, tel, email, reportcnt, state from member where userid=#{param1}
  	</select>
  	<update id="memberInfoSave" parameterType="com.seoulmate.home.vo.MemberVO">
  		update member set profilePic=#{profilePic}, reportcnt=#{reportCnt}, 
  		<choose>
  			<when test='state==null'>
  				state='일반'
  			</when>
  			<when test='state=="on"'>
  				state='블랙'
  			</when>
  		</choose>
  		where userid=#{userid} and username=#{username}
  	</update>  	
  	
  	
  	<select id="totalRecode" parameterType="com.seoulmate.home.vo.PayVO" resultType="int">
  		select count(no) from pay <if test="searchWord != null">where ${searchKey} like '%${searchWord}%' </if>
  	</select>
  	<select id="payOnePageListSelect" parameterType="com.seoulmate.home.vo.PayVO">
  	
  	</select>
</mapper>