<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.seoulmate.home.dao.CommunityReplyDAO">
 	<select id="replyList" resultType="com.seoulmate.home.vo.CommunityReplyVO">
 		select num, userid, content, writedate from communityReply where no=${param1} order by num
 	</select>
 	<insert id="replyInsert">
 		insert into communityreply(num, no, userid, content, ip) 
 		values(comreplysq.nextval, #{no}, #{userid}, #{content}, #{ip})
 	</insert>
 </mapper>