<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.seoulmate.home.dao.HouseWriteDAO">
	<select id="houseList" resultType="com.seoulmate.home.vo.HouseWriteVO">
		select * from housewrite where userid=#{param1}
	</select>
	<select id="houseproList" resultType="com.seoulmate.home.vo.HouseWriteVO">
		select p.pno, p.housename from 
		(select pno, userid, housename from propensity where pcase='h' and userid=#{param1}) p 
		join (select pno, userid, housename from housewrite where userid=#{param1}) h on p.pno=h.pno and p.housename is not null
	</select>
	<select id="pnoCheck" resultType="int">
		select count(pno) from housewrite where userid=#{param1} and pno=#{param2}
	</select>
	<insert id="houseInsert" parameterType="com.seoulmate.home.vo.HouseWriteVO">
		insert into housewrite(no, userid, addr, housepic1, room, bathroom, nowpeople, searchpeople, publicfacility, 
		writedate, enddate, housestate, pno, houseprofile, housename) 
		values (housematesq.nextval, #{userid}, #{addr}, #{housepic1}, #{room}, #{bathroom}, #{nowpeople}, #{searchpeople}, 
		#{publicfacility}, sysdate, sysdate+7, '모집중', #{pno}, #{houseprofile}, #{housename} )
	</insert>
	<update id="houseUpdate" parameterType="com.seoulmate.home.vo.HouseWriteVO">
		update housewrite set addr=#{addr}, 
		<if test="housepic1!=null and housepic1!=''">housepic1=#{housepic1}, </if>
		room=#{room}, bathroom=#{bathroom}, nowpeople=#{nowpeople}, searchpeople=#{searchpeople},
		publicfacility=#{publicfacility}, houseprofile=#{houseprofile}, housename=#{housename} where userid=#{userid} and no=#{no}
	</update>
	<select id="housenameCheck" resultType="String">
		select housename from housewrite where pno=#{param1}
	</select>
	<update id="housenameUpdate">
		update propensity set housename= #{param1} where pno=#{param2}
	</update>
	<select id="houseSelect"  resultType="com.seoulmate.home.vo.HouseWriteVO">
		 select no, pno, userid, addr, housename, housepic1, room, bathroom, nowpeople, searchpeople, publicfacility, writedate, enddate, 
		 housestate, houseprofile from housewrite where no=#{param1} and userid=#{param2}
	</select>
		<select id="houseSelect2"  resultType="com.seoulmate.home.vo.HouseWriteVO">
		 select no, pno, userid, addr, housename, housepic1, room, bathroom, nowpeople, searchpeople, publicfacility, writedate, enddate, 
		 housestate, houseprofile from housewrite where no=#{param1}
	</select>
	<delete id="houseDel" parameterType="com.seoulmate.home.vo.HouseWriteVO">
		delete from housewrite where no=#{param1} and userid=#{param2}	
	</delete>
  	<select id="houseProfile" resultType="String">
  		select housepic1 from housewrite where userid=#{param1} and no=#{param2}
  	</select>
  </mapper>