<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.seoulmate.home.dao.HouseWriteDAO">
	<select id="houseList" resultType="com.seoulmate.home.vo.HouseWriteVO">
		select * from housewrite where userid=#{param1}
	</select>
	<select id="houseproList" resultType="com.seoulmate.home.vo.HouseWriteVO">
		select p.pno, p.housename from 
		(select pno, userid, housename from propensity where pcase='h' and userid=#{param1}) p 
		join (select pno, userid, housename from housewrite where userid=#{param1}) h on p.pno=h.pno and p.housename is not null
	</select>
	<select id="pnoCheck" resultType="int">
		select count(pno) from housewrite where userid=#{param1} and pno=#{param2}
	</select>
	<insert id="houseInsert" parameterType="com.seoulmate.home.vo.HouseWriteVO">
		insert into housewrite(no, userid, addr, housepic1, room, bathroom, nowpeople, searchpeople, publicfacility, 
		writedate, enddate, housestate, pno, houseprofile, housename) 
		values (housematesq.nextval, #{userid}, #{addr}, #{housepic1}, #{room}, #{bathroom}, #{nowpeople}, #{searchpeople}, 
		#{publicfacility}, sysdate, sysdate+7, '모집중', #{pno}, #{houseprofile}, #{housename} )
	</insert>
	<update id="houseUpdate" parameterType="com.seoulmate.home.vo.HouseWriteVO">
		update housewrite set addr=#{addr}, 
		<if test="housepic1!=null and housepic1!=''">housepic1=#{housepic1}, </if>
		room=#{room}, bathroom=#{bathroom}, nowpeople=#{nowpeople}, searchpeople=#{searchpeople},
		publicfacility=#{publicfacility}, houseprofile=#{houseprofile}, housename=#{housename} where userid=#{userid} and no=#{no}
	</update>
	<select id="housenameCheck" resultType="String">
		select housename from housewrite where pno=#{param1}
	</select>
	<update id="housenameUpdate">
		update propensity set housename= #{param1} where pno=#{param2}
	</update>
	<select id="houseSelect"  resultType="com.seoulmate.home.vo.HouseWriteVO">
		 select no, pno, userid, addr, housename, housepic1, room, bathroom, nowpeople, searchpeople, publicfacility, writedate, enddate, 
		 housestate, houseprofile from housewrite where no=#{param1} and userid=#{param2}
	</select>
		<select id="houseSelect2"  resultType="com.seoulmate.home.vo.HouseWriteVO">
		 select no, pno, userid, addr, housename, housepic1, room, bathroom, nowpeople, searchpeople, publicfacility, writedate, enddate, 
		 housestate, houseprofile from housewrite where no=#{param1}
	</select>
	<delete id="houseDel" parameterType="com.seoulmate.home.vo.HouseWriteVO">
		delete from housewrite where no=#{param1} and userid=#{param2}	
	</delete>
	<select id="houseProfile" resultType="String">
	select housepic1 from housewrite where userid=#{param1} and no=#{param2}
	</select>
	<select id="getNewIndexHouse" resultType="com.seoulmate.home.vo.HouseWriteVO">
	SELECT * 
	FROM (SELECT * 
	FROM (SELECT * 
	FROM (SELECT * 
	FROM (SELECT hw2.NO, hw2.pno, m_gender, userid, addr, housename, housepic1, room, bathroom, nowpeople, hr.rent, hr.DEPOSIT, hw2.writedate 
	FROM (SELECT NO, hw.pno, hw.userid, m_gender, addr, hw.housename, housepic1, room, bathroom, nowpeople, writedate 
	FROM (SELECT * FROM PROPENSITY WHERE pcase='h') p
	JOIN (SELECT NO, pno, userid, addr, housename, housepic1, room, bathroom, nowpeople, writedate FROM HOUSEWRITE WHERE housestate='모집중') hw ON p.pno=hw.pno) hw2
	JOIN (SELECT r1.NO, rent, deposit FROM (select no, rent, deposit from houseroom) r1 
	JOIN (select NO, min(rent) from houseroom GROUP BY NO) r2 ON r1.NO=r2.no) hr ON hw2.NO=hr.NO 
	<if test='param1 != null'>AND addr LIKE '%${param1}%'</if>) 
	<if test='param2 != null and param2>0'>where <![CDATA[rent<=#{param2}]]></if>)
	<if test='param3 != null and param3>0'>where <![CDATA[deposit<=#{param3}]]></if>)
	<if test='param4 != null and param4!=0'>where <![CDATA[m_gender=#{param4}]]></if>
	ORDER BY writedate DESC) where <![CDATA[rownum<=9]]>
	</select>
  </mapper>