<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.seoulmate.home.dao.MateWriteDAO">
<!--   	<insert id="mateInsert" parameterType="com.seoulmate.home.vo.MateWriteVO"> -->
<!--   		insert into matewrite(no, pno, userid, area, matePic1, matePic2, matePic3, deposit, rent, enterdate, minStay, maxStay, mateProfile)  -->
<!--   		values (housesq.nextval, #{pno}, #{userid}, #{area}, #{matePic1}, #{matePic2}, #{matePic3}, #{deposit}, #{rent}, #{enterdate}, -->
<!--   				#{minSaty}, #{maxSaty}, #{mateProfile} ) -->
<!--   	</insert> -->
<!--   insert into matewrite values(housematesq.nextval,  -->
<!--   (select pno from propensity where userid='test1234'),  -->
<!--   'test1234', '강동구 강일동', 'sample01.png', 'sample02.png', 'sample03.png', 200, 20,  -->
<!--   sysdate+7, '1-3개월', '4-6개월', sysdate, sysdate+7, '모집중', 'sample04.png' ); -->
  
  </mapper>