<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.seoulmate.home.dao.PropensityDAO">
	<insert id="propInsert" parameterType="com.seoulmate.home.vo.PropensityVO">
		insert into propensity(pno, userid, pcase, h_noise, h_pattern, h_pet, h_petwith,
		 h_smoke, h_mood, h_communication, h_party, h_enter, h_support, h_etc, 
		 m_pattern, m_personality, m_pet, m_smoke, m_age, m_gender, m_global, m_now, pdate)
		 values(psq.nextval, #{userid}, #{pcase},  #{h_noise}, #{h_pattern}, 
		 #{h_pet}, #{h_petwith}, #{h_smoke}, #{h_mood}, #{h_communication}, #{h_party}, #{h_enter}, 
		 #{h_supportStr}, #{h_etcStr}, #{m_pattern}, #{m_personality}, #{m_pet}, #{m_smoke}, 
		 #{m_age}, #{m_gender}, #{m_global}, #{m_now}, sysdate)
	</insert>
	<select id="propPcaseM" resultType="int">
		select count(pcase) from propensity where userid=#{param1} and pcase='m'
	</select>
	<select id="propPcaseH" resultType="int">
		select count(pcase) from propensity where userid=#{param1} and pcase='h'
	</select>
	<select id="propMateSelect" parameterType="String" resultType="com.seoulmate.home.vo.PropensityVO">
		select pno, userid, pcase, housename, h_noise, h_pattern, h_pet, h_petwith,
		 h_smoke, h_mood, h_communication, h_party, h_enter, h_support as h_supportStr, h_etc as h_etcStr, 
		 m_pattern, m_personality, m_pet, m_smoke, m_age, m_gender, m_global, m_now, pdate from propensity where userid=#{param1} and pcase='m'
	</select>
	<update id="propMateUpdate" parameterType="com.seoulmate.home.vo.PropensityVO">
		update propensity set h_noise=#{h_noise}, h_pattern=#{h_pattern}, h_pet=#{h_pet}, h_petwith=#{h_petwith}, 
		 h_smoke=#{h_smoke}, h_mood=#{h_mood}, h_communication=#{h_communication}, h_party=#{h_party}, 
		 h_enter=#{h_enter}, h_support=#{h_supportStr}, h_etc=#{h_etcStr}, 
		 m_pattern=#{m_pattern}, m_personality=#{m_personality}, m_pet=#{m_pet}, 
		 m_smoke=#{m_smoke}, m_age=#{m_age}, m_gender=#{m_gender}, m_global=#{m_global}, m_now=#{m_now} 
		 where userid=#{userid}
	</update>
	<select id="propHouseSelect" resultType="com.seoulmate.home.vo.PropensityVO">
		select pno, userid, pcase, housename, h_noise, h_pattern, h_pet, h_petwith,
		 h_smoke, h_mood, h_communication, h_party, h_enter, h_support as h_supportStr, h_etc as h_etcStr, 
		 m_pattern, m_personality, m_pet, m_smoke, m_age, m_gender, m_global, m_now, pdate 
		 from propensity where userid=#{param1} and pno=#{param2}
	</select>
	<update id="propHouseUpdate" parameterType="com.seoulmate.home.vo.PropensityVO">
		update propensity set h_noise=#{h_noise}, h_pattern=#{h_pattern}, h_pet=#{h_pet}, h_petwith=#{h_petwith}, 
		 h_smoke=#{h_smoke}, h_mood=#{h_mood}, h_communication=#{h_communication}, h_party=#{h_party}, 
		 h_enter=#{h_enter}, h_support=#{h_supportStr}, h_etc=#{h_etcStr}, 
		 m_pattern=#{m_pattern}, m_personality=#{m_personality}, m_pet=#{m_pet}, 
		 m_smoke=#{m_smoke}, m_age=#{m_age}, m_gender=#{m_gender}, m_global=#{m_global}, m_now=#{m_now}, pdate=sysdate 
		 where userid=#{userid} and pno=#{pno}
	</update>
	<select id="propHcnt" parameterType="String" resultType="int">
		SELECT count(pno) FROM PROPENSITY WHERE pcase='h' AND userid=#{param1} AND housename IS null
	</select>
	<select id="propNoHouse" parameterType="String" resultType="int">
		SELECT pno FROM PROPENSITY WHERE pcase='h' AND userid=#{param1} AND housename IS null
	</select>
	<select id="proNoHouse" parameterType="String" resultType="int">
		SELECT pno FROM PROPENSITY WHERE pcase='h' AND userid=#{param1} AND housename IS null
	</select>
	<select id="noHousePnoChk" resultType="int">
		select count(pno) from PROPENSITY where userid=#{param1} and pno=#{param2}
	</select>
	<select id="houseCheck" resultType="int">
		select count(pno) from propensity where pcase='h' and userid=#{param1} and housename is not null
	</select>
	<select id="housePnoCheck" resultType="int">
		select pno from propensity where pcase='h' and userid=#{param1} and housename is null
	</select>
	<select id="proPnoCheck" resultType="int">
		 select pno from (select pno from propensity where userid=#{param1} order by pno desc) where rownum=1
	</select>
	<select id="proHouseCheck" resultType="int">
		select pno from propensity where userid=#{param1} and pcase='h'
	</select>
	<select id="housestateCheck" resultType="int">
		select count(pno) pno from housewrite where pno=#{param1} and housestate!='모집중'
	</select>
	<delete id="proDelNoHouse">
		delete from propensity where userid=#{param1} and pno=#{param2}
	</delete>
	<select id="propHouseSelect2" resultType="com.seoulmate.home.vo.PropensityVO">
		select pno, userid, pcase, housename, h_noise, h_pattern, h_pet, h_petwith,
		 h_smoke, h_mood, h_communication, h_party, h_enter, h_support as h_supportStr, h_etc as h_etcStr, 
		 m_pattern, m_personality, m_pet, m_smoke, m_age, m_gender, m_global, m_now, pdate 
		 from propensity where pno=#{param1}
	</select>
	<select id="propMateSelect2" parameterType="String" resultType="com.seoulmate.home.vo.PropensityVO">
		select pno, userid, pcase, housename, h_noise, h_pattern, h_pet, h_petwith,
		 h_smoke, h_mood, h_communication, h_party, h_enter, h_support as h_supportStr, h_etc as h_etcStr, 
		 m_pattern, m_personality, m_pet, m_smoke, m_age, m_gender, m_global, m_now, pdate from propensity where pno=#{param1} and pcase='m'
	</select>
	<update id="ProHouseNameUpdate" parameterType="com.seoulmate.home.vo.PropensityVO">
		update propensity set housename = '' where pno=#{pno} and userid=#{userid}
	</update>
<!-- 	<select id="ProHouseNameCheck" resultType="com.seoulmate.home.vo.PropensityVO"> -->
<!-- 		select select -->
<!-- 	</select> -->
  </mapper>